@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body, html {
    font-family: 'Berkeley Mono', monospace !important;
}

/* 2. Style the container WITHOUT overriding the children's colors */
code, pre, .chroma {
    font-family: 'Berkeley Mono', monospace !important;
}

